{% load cms_tags sekizai_tags staticfiles %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/mailman.js"></script>{% endaddtoblock %}

<div class="cmsplugin_mailman">
<a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal" style="width:180px;height:75px">
  <h2>S'abonner</h2>
</a>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title" id="myModalLabel">{{ instance.titre }}</h3>
        </div>
        <div class="modal-body">
          <div id="submit_container">
            <div class="row-fluid">
              <div id="noneSelectedError"></div>
              <div id="badEmailError"></div>
            </div>
            <div class="row-fluid">
              <div class="span2">
              </div>
              <div class="span3">
                Nom:
              </div>
              <div class="span3">
                <input name="fullname" type="text" id="fullname"/>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
              </div>
              <div class="span3">
                Adresse courriel:
              </div>
              <div class="span3">
                <input name="email" type="text" id="email"/>
              </div>
            </div>
            <div class="row-fluid" style="height:3px">
               <input name="list" type="hidden" id="list" value="{{ instance.liste }}" />

            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true" id="close">Annuler</button>
              <button class="btn btn-primary" id="submit" >Envoyer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
