{% load cms_tags %}
{% load sekizai_tags %}

{% addtoblock "js" %}<script src="mailman.js"></script>{% endaddtoblock %}

<div class="cmsplugin_mailman">
<a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal" style="width:180px;height:75px">
  <h2>S'abonner</h2>
</a>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title" id="myModalLabel">Join our mailing lists!</h3>
        </div>
        <div class="modal-body">
          <div id="submit_container">
            <div class="row-fluid">
              <div id="noneSelectedError"></div>
              <div id="badEmailError"></div>
            </div>
            <div class="row-fluid">
              <div class="span2">
              </div>
              <div class="span3">
                Full Name:
              </div>
              <div class="span3">
                <input name="fullname" type="text" id="fullname"/>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
              </div>
              <div class="span3">
                Email Address:
              </div>
              <div class="span3">
                <input name="email" type="text" id="email"/>
              </div>
            </div>
            <div class="row-fluid" style="height:3px">

            </div>
            <div class="row-fluid">
              <div class="span2">

              </div>
              <div class="span3">
                <b>Pick lists to join!</b>
              </div>
              <div class="span6">
                <div class="btn-group" data-toggle="buttons-checkbox">
                  <button type="button" class="btn mlist">
                    <span class="icons" style="display:none"><i class="icon-search icon-ok"></i></span>
                    <span class="listname">Announce</span>
                  </button>
                  <button type="button" class="btn mlist">
                    <span class="icons" style="display:none"><i class="icon-search icon-ok"></i></span>
                    <span class="listname">Discuss</span>
                  </button>
                  <button type="button" class="btn mlist">
                    <span class="icons" style="display:none"><i class="icon-search icon-ok"></i></span>
                    <span class="listname">Projects</span>
                  </button>
                </div>
              </div>
              <div class="span3">

              </div>
            </div>

            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true" id="close">Close</button>
              <button class="btn btn-primary" id="submit" >Win!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
