
/*---------------------------------------------------*/
/*-----STYLE POUR LA CARTE DES IMPLANTATIONS---------*/
/*---------------------------------------------------*/


div#carte {
border: 1px solid silver;
}

.col-md-12 > div:nth-child(1) form {
border: 1px solid silver;
background: #1D9DD9;
text-align: center;
color: white;
border-top-left-radius: 14px;
border-top-right-radius: 14px;
padding: 5px;
border-bottom: none;
}

.col-md-12 > div:nth-child(1) label {
margin-left: 17px;
margin-right: 6px;
margin-top: 6px;
}

#filter-bureau, #filter-type {
background: white;
border: 0px;
height: 41px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
color: black;
}

.ol-attribution img {
display:none;}

.ol-zoom {zoom: 1.4;}

.legende {
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
} 

/*----------STYLE ET CONTENU DESol-popup-------------*/

ol-popup-content {
  min-width: 247px;
}

ol-popup p {
     margin-bottom:0px;
}

ol-popup-titre {
  text-align:center;
  font-weight:bold;
  background:whitesmoke;
  padding:3px;
  margin: -10px -15px 7px -15px;
  border-radius:5px 5px 0 0;
  border-bottom: 1px solid #ebebeb;
}

ol-popup-soustitre {
  text-align:center;
  margin-top:5px;
}


.implantation {
  text-align:center;
  font-weight:bold;
}

.implantation::before {
  content:"\2666";
  margin-right:2px;
  font-size:1.4em;
}

ol-popup-petit {
  text-align:center;
  font-size:smaller;
  font-style:italic;
}


ol-popup-liste {
  margin-top:10px;
  font-size:1.22rem;
}

.siege::before {
  content:"\f140";
  font-family:FontAwesome;
  margin-right:2px;
}

.rectorat::before {
  content:url('http://imgh.us/rectoraticon.png');
  top:2px;
  font-family:FontAwesome;
  margin-right:2px;
  position:relative;
}

.cnf::before {
  content:"\25A3";
  margin-right:3px;
  font-size:1em;
  font-family:FontAwesome;
  position:relative;
  bottom:1px;
  margin-left:-3px;
}

.cnfp::before {
  content:"\25BC";
  margin-right:4px;
  font-size:1em;
  font-family:FontAwesome;
  position:relative;
  bottom:1px;
  margin-left:-2px;
}

.instituts::before {
  content:"\25B2";
  margin-right:2px;
  margin-left:-4px;
  font-size:1.1em;
  position:relative;
  bottom:0px;
}

.antennes::before {
  content:"\f005";
  font-family:fontawesome;
  margin-right:3px;
  margin-left:-3px;
  font-size:1em;
  position:relative;
  bottom:0px;
}

.etablissements::before {
  content:"\f19d";
  font-family:fontawesome;
  margin-right:3px;
  margin-left:-4px;
  font-size:0.9em;      
  position:relative;
  bottom:0px;
}


