
/*---------------------------------------------------*/
/*-----STYLE POUR LA CARTE DES IMPLANTATIONS---------*/
/*---------------------------------------------------*/


div#carte {
border: 1px solid silver;
}


.filters form {
border: 1px solid silver;
background: #1D9DD9;
text-align: center;
color: white;
border-top-left-radius: 14px;
border-top-right-radius: 14px;
padding: 5px;
border-bottom: none;
}

.filters label {
margin-left: 17px;
margin-right: 6px;
margin-top: 6px;
}

#filter-bureau, #filter-type {
background: white;
border: 0px;
height: 41px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
color: black;
}

.ol-attribution img {
display:none;}

.ol-zoom {
zoom: 1.4;
top: 26em;
-moz-transform: scale(1.4);}


@-moz-document url-prefix() {
    .ol-zoom {
       top:37em;
       margin-left:10px;
    }
}

.legende {
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
} 

/*----------STYLE ET CONTENU DES ol-popup-------------*/


.ol-popup {
display: none;
position: absolute;
z-index: 100;
background-color: white;
-webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
padding: 15px;
border: 1px solid #A0A0A0;
left: 18px;
top: 4em;
width: 21.6em;
}

.ol-popup p {
     margin-bottom:0px;
}

.ol-popup-titre {
  text-align:center;
  font-weight:bold;
  background:#1D9DD9;
  padding:3px;
  margin: -15px -15px 0px -15px;
  border-radius:5px 5px 0 0;
  border-bottom: 1px solid #ebebeb;
  color:white;
}

.ol-popup-soustitre {
  text-align:left;
  margin-top:5px;
}


.implantation {
  text-align:left;
  font-weight:bold;
  font-size:0.96em;
}

.ol-popup-petit {
  text-align:left;
  font-size:0.7em;
  font-style:italic;
  margin-left:11px;
}


.ol-popup-liste {
  margin-top:10px;
  font-size:1rem;
  margin-bottom:-7px;
}


.siege::before {
  content: "\f140";
font-family: FontAwesome;
margin-right: 7px;
font-size: 1.3em;
margin-left: -2px;
}

.rectorat {
  margin-top:-2px;
}

.cnf::before {
  content:"\25A3";
  margin-right:6px;
  font-size:1.3em;
  font-family:FontAwesome;
  position:relative;
  bottom:1px;
  margin-left:-3px;
}

.cnfp::before {
  content:"\25BC";
  margin-right:4px;
  font-size:1.3em;
  font-family:FontAwesome;
  position:relative;
  bottom:1px;
  margin-left:-2px;
}

.institut::before {
  content:"\25B2";
  margin-right:2px;
  margin-left:-4px;
  font-size:1.4em;
  position:relative;
  bottom:0px;
}

.antenne::before {
  content:"\f005";
  font-family:fontawesome;
  margin-right:6px;
  margin-left:-3px;
  font-size:1.3em;
  position:relative;
  bottom:0px;
}

.etablissements::before {
  content:"\f19d";
  font-family:fontawesome;
  margin-right:3px;
  margin-left:-4px;
  font-size:1.3em;      
  position:relative;
  bottom:0px;
}

.service_central::before {
 content:"\f0a3";
  font-family:FontAwesome;
margin-right: 5px;
margin-left: -1px;
}

.bureau {
margin-top: -6px;
}

.bureau::before {
content: "\2666";
font-size: 2rem;
margin-left: -2px;
margin-right: 7px;
}


.implantation li {
margin-top:5px;
}

.implantation li::before {
content:"•";
margin-left:-4px;
margin-right:2px;
}



@media screen and (max-width:967px) and (min-width:240px) {
  
.filters form {
border: 1px solid silver;
background: #1D9DD9;
text-align: center;
color: white;
border-top-left-radius: 14px;
border-top-right-radius: 14px;
padding: 1px;
border-bottom: none;
margin-top:14px;
}

.filters label {
margin-left: 11px;
}

#filter-bureau, #filter-type {
width:7em;
}
  
  
}

.filter-type-etabli, .filter-type-implan {margin-left: 24px;}
