<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>La page n'existe pas</title>
    <style>
                * { margin: 0; padding: 0; }
				
                body { 
                        background: #e9e9ea url(/media/actualite/gloglob_1.png) no-repeat center center fixed; 
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                }
        </style>
        
</head>

<body>
    	
        <div style="top: 25%; background: url(/media/adminfiles/bonfond.jpg) repeat-x; height: 300px; position: absolute; width: 100%">
            <div style="width: 960px; margin: 0 auto; height:300px;"><a href="http://www.auf.org/"><img src="/media/adminfiles/lologo.jpg" style="float:left; margin-top: 60px; border: 0;" /></a><div style="float:left; margin: 125px 0px 0px 65px;"><h1 style="font-family: Arial, Helvetica, sans-serif; color: #fff;">La page recherch&eacute;e n'existe pas</h1><p style="font-family: Arial, Helvetica, sans-serif; color: #fff; font-size: 12px; margin-top: 6px;"><a href="http://www.auf.org/" style="color:#FFFFFF;">Lien vers la page d'accueil du site insitutionnel de l'AUF</a></p></div></div>
        </div>

</body>
</html>
