{% extends 'base.html' %}
{% load static i18n cms_tags menu_tags sekizai_tags %}

{% block menu_haut %}
{% if request.current_page.reverse_id == "accueil" %}
    {{ block.super }}
{% else %}
          <li class="MenuLangue">
            <a href="/"><i class="fa fa-home"></i> Retour au site principal</a>
          </li>
          <li class="MenuContact">
            <div class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Régions<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="/">International</a></li>
                {% show_menu_below_id "bureaux" 0 0 %}
            </ul>
            </div>
          </li>
          <li class="MenuEmploi">
            <a href="#"></a>
          </li>
          <li class="MenuPresse">
            <a href="#"></a>
          </li>
{% endif %}
{% endblock %}


{% block menu %}
    {% if request.current_page.reverse_id == "accueil"%}
            {% show_menu 0 2 2 2 "bootstrap/menu/navbar.html" %}
    {% else %}
            {% show_sub_menu 2 2 3 "bootstrap/menu/navbar.html" %}
    {% endif %}
{% endblock %}

{% block entete %}
        <div id="EnteteSecondaire" class="{{ bureau.0 }} hidden-sm hidden-xs">
          <div class="col-md-3 col-md-offset-1 transluscide">
            <div id="BlocPresentation">
               {% placeholder presentation %}
            </div>
          </div>
          <div class="col-md-6 col-md-offset-1 carrousel">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                      <div class="item active">
                            <a href="http://www.auf.org/actualites/appel-projets-clom-mooc-2015/ ">
                            <img src="http://www.auf.org/media/slider/mooc.jpg" alt="Appel à projets CLOM / MOOC 2015">
                            <div class="carousel-caption">
                                <p>CLOM / MOOC CERTICE-SUP : Appel à collaborations</p>
                            </div>
                            </a>
                      </div>
                      <div class="item">
                            <a href="http://www.auf.org/actualites/prix-louis-dhainaut-de-la-meilleure-these-en-techn/">
                            <img src="http://www.auf.org/media/slider/bandeauhainaut.jpg" alt="Prix Louis D’Hainaut 2015">
                            <div class="carousel-caption">
                                <p>Prix Louis D’Hainaut 2015</p>
                            </div>
                            </a>
                      </div>
                      <div class="item">
                            <a href="www.tv5monde.com/df">
                                <img src="http://www.auf.org/media/slider/df.jpg" alt="Destination francophonie consacrée au projet de l'Université de Koudougou"/>
                            <div class="carousel-caption">
                                <p>Destination francophonie consacrée au projet de l'Université de Koudougou</p>
                            </div>
                            </a>
                      </div>
              </div>
              <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <i class="fa fa-chevron-circle-left"></i>
                <span class="sr-only">Précédent</span>
              </a>
              <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <i class="fa fa-chevron-circle-right"></i>
                <span class="sr-only">Suivant</span>
              </a>

            </div>
          </div>
        </div>
{% endblock %}

{% block contenu %}
<div class="row" id="content">
<div class="col-md-9 {% if request.current_page.reverse_id != "accueil"%}texte{% endif %}">
    {% placeholder texte %}
</div>

<div class="col-md-3">
    {% placeholder colonne_droite %}

     <div class="rouge">
     <div class="panel-body">

    {% if request.current_page.reverse_id == "accueil"%}
       <h4>Étudiants</h4>
       <div class="liste-carres">
       <ul>
         {% show_menu_below_id "etudiants" %}
        </ul>
      </div>
    {% else %}
      {% placeholder rouge %}
    {% endif %}

    </div>
    </div>

     <div class="vert">
     <div class="panel-body">

    {% if request.current_page.reverse_id == "accueil"%}
       <h4>Enseignants/Chercheurs</h4>
       <div class="liste-carres">
       <ul>
         {% show_menu_below_id "professeur-chercheur" %}
       </ul>
       </div>
    {% else %}
      {% placeholder vert %}
    {% endif %}


    </div>
    </div>

     <div class="bleu">
     <div class="panel-body">

    {% if request.current_page.reverse_id == "accueil"%}
        <h4>Responsables d'établissement</h4>
        <div class="liste-carres">
        <ul>
          {% show_menu_below_id "responsable-d-etablissement" %}
        </ul>
        </div>
    {% else %}
      {% placeholder bleu %}
    {% endif %}

    </div>
    </div>

    <div class="panel boite-lettre">
    <div class="panel-body">

    {% if request.current_page.reverse_id == "accueil"%}
        <h4>Lettre d'information</h4>
        <p style="margin-bottom:8px;">Restez informé grâce à notre lettre d'information</p>
        <form class="form-group" action="/lettre-information/" method="post">{% csrf_token %}
       <div class="input-group">
           <input id="id_adresse" type="text" name="adresse" class="form-control">
           <span class="input-group-btn">
           <button type="submit" class="btn btn-default"><i class="fa fa-envelope-o"></i></button>
           </span>
       </div>
       </form>
    {% else %}
      {% placeholder bleu_ciel %}
    {% endif %}

       </div>
       </div>

        <div class="panel boite-temoignages">
        <div class="panel-body">
            <h4>Témoignages</h4>
            <p><a href="/autres-pages/temoignages/">Voilà pourquoi ils ont choisi l'AUF !</a></p>
         </div>
         </div>
         <div class="panel boite-partenaires">
         <div class="panel-body">
            <h4>Nos partenaires</h4>
            <a href="http://www.tv5.org/" class="Item" target="_blank" style="z-index: 1; right: 180px;"><img src="/media/partenaires/trioo.jpg" width="80" height="80"></a>
 
            <a href="http://www.cned.fr/" class="Item" target="_blank" style="z-index: 1; right: 180px;"><img src="/media/partenaires/Logo_CNED_Bloc_marque.jpg" width="80" height="80"></a>
 
            <a href="http://www.rfi.fr/" class="Item" target="_blank" style="z-index: 1; right: 180px;"><img src="/media/partenaires/arton3012-c0696.jpg" width="80" height="80"></a>
 
            <a href="http://www.maee.fr/cgi-bin/client/modele.pl?session=mae.253572.1322695332.Tta6pH8AAAEAAGlvBTgAAAAW&amp;modele=home" class="Item" target="_blank" style="z-index: 1; right: 180px;"><img src="/media/partenaires/affaire.jpg" width="80" height="80"></a>
 
            <a href="http://www.cci.fr/web/organisation-du-reseau/presentation-acfci" class="Item" target="_blank" style="z-index: 1; right: 180px;"><img src="/media/partenaires/nouvelle_home_logo_cci.png" width="80" height="80"></a>
 
            <a href="http://www.acdi-cida.gc.ca/index.htm" class="Item" target="_blank" style="z-index: 2; right: 180px;"><img src="/media/partenaires/ACDI-Agence.jpg" width="80" height="80"></a>
 
            <a href="http://www.hydroquebec.com/fr/" class="Item" target="_blank" style="z-index: 3; right: 0px;"><img src="/media/partenaires/Image_1.png" width="80" height="80"></a>
 
            <a href="http://www.latitudefrance.org/listrss.html" class="Item" target="_blank" style="z-index: 1;"><img src="/media/partenaires/203515_211559442212397_7707510_n.jpg" width="80" height="80"></a>
 

        </div>
        </div>

</div>
</div>
{% endblock %}
