{% extends "cms.html" %}
{% load i18n cms_tags menu_tags %}

{% block contenu %}
<div class="col-md-12" id="content" style="background-color: white;">
<div class="col-md-2">
    <div id="ColonneMenuSecondaire">
        <ul id="MenuSecondaire">
        {% show_menu 1 2 0 1 "menu/menu.html" %}
        <div id="MenuSecondaireBas"></div>
        </ul>
    </div>
    {% placeholder colonne_gauche %}
</div>
<div class= "col-md-6 col-md-offset-2 texte" style="background-color: white;">
    <h2>{% page_attribute "title" %}</h2>
    {% placeholder texte %}
    {% show_sub_menu 1 1 1 "menu/content_menu_root.html" %}
</div>
</div>
{% endblock %}

