{% extends "base.html" %}
{% load i18n cms_tags %}

{% block tpl_id %}tpl_col_three{% endblock %}
{% block tpl_class %}ListeActualites{% endblock %}

{% block EnteteSecondaire %}
    {% include "EnteteSecondaireAccueil.html" %}
{% endblock %}

{% block Contenu %}
<h1>Désinscription à la lettre d'information éléctronique</h1>
<p>Pour vous désinscrire vous devez renseigner votre adresse éléctronique:</p>
<form method='post' name="news" action='/lettre-information-desinscription-confirme/'>{% csrf_token %}
	{{ desabonne_form }}
	<input type='submit' class="BtInscription" Value='Désinscription'>
</form>
{% endblock %}
