{% extends "base.html" %}
{% load i18n cms_tags %}

{% block Contenu %}
<div id="texte">
    <h1>Erreur lors de l'inscription</h1>
    <p>L'erreur suivant n'a pas permis l'inscription à  la lettre éléctronique de l'Agence universitaire de la Francophonie:</p>
    <form method='post' name="news" action='/bureau-{{region_actuel}}/lettre-information-br/'>{% csrf_token %}
        {{ abonne_form }}
        <input type='submit' class="BtInscription" Value='Inscription'>
    </form>
</div>
{% endblock %}
