django-cms
django-reversion
django-compressor

django-filer
cmsplugin-filer
easy_thumbnails

djangocms-text-ckeditor>=2.3.0
djangocms-style
djangocms-admin-style
djangocms-column
djangocms-inherit
djangocms-aldryn-search
djangocms-inherit


django-haystack
django-standard-form
