{% load i18n highlight %}

{% for result in page_obj.object_list %}
<div class="thumbnail thumbnail-appels">
<div class="media">
	<a class="pull-left" href="{% if result.url %}{{ result.url }}{% else %}{{ result.object.get_absolute_url }}{% endif %}">{{ result.title }}</a></h3>
  {% if result.text %}
    <div class="media-body">
    {% if request.GET.q %}
    	<p>{% highlight result.text with request.GET.q %}</p>
    {% else %}
    <p>{{ result.text }}</p>
	{% endif %}
    </div>
  {% endif %}
</div>
</div>
{% empty %}
<div>{% trans "Aucun résultat pour la recherche" %} "{{ request.GET.q }}"</div>
{% endfor %}
