{% load i18n highlight %}

{% for result in page_obj.object_list %}
<div class="thumbnail thumbnail-appels">
<div class="media">
  <div class="media-body">
   <h4 class="title-date">
     <a href="{% if result.url %}{{ result.url }}{% else %}{{ result.object.get_absolute_url }}{% endif %}">{{ result.title }}</a>
    </h4>
    <p>{{ result.text|safe }}</p>
    <div class="pull-right">date: {{ result.date_pub }}</div>
  </div>
</div>
</div>
{% empty %}
<div>{% trans "Aucun résultat pour la recherche" %} "{{ request.GET.q }}"</div>
{% endfor %}
