{% load i18n thumbnail cms_tags sekizai_tags %}

{% addtoblock "js" %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover({html:true})
        })
    </script>
{% endaddtoblock %}

<article id="post-{{ post.slug }}" class="post-item thumbnail thumbnail-actu">
  <div class="media">
    <a class="pull-left" href="{{post.get_absolute_url}}">
    {% if image and post.main_image %}
      <img class="img-thumbnail" src="{% thumbnail post.main_image 130x90 upscale %}"/>
    {% else %}
      <img class="img-thumbnail" src="http://www.auf.org/static/logodefaut.jpg" width="130px" height="90px">
    {% endif %}
    </a>
    <div class="media-body">
      <a href="{{post.get_absolute_url}}">
        <h4 class="title-date"><a href="{{post.get_absolute_url}}">{{ post.title }}</h4>
      </a>
    <p class="text-muted"><strong>Date de publication: {{post.date_published|date:"j F Y"}}</strong></p>
    {% if post.date_published_end %}
    <p class="text-muted"><strong>Date limite :</strong> {{ post.date_published_end|date:"j F Y" }}</p>
    {% endif %}
    <!-- {% block blog_meta %}
            {% include "djangocms_blog/includes/blog_meta.html" %}
        {% endblock %}-->
    <div class="blog-lead">
        {% if not TRUNCWORDS_COUNT %}
            {% render_model post "abstract" %}
        {% else %}
            {% render_model post "abstract" "" "" 'truncatewords_html:TRUNCWORDS_COUNT'  %}
        {% endif %}
    </div>
 </div>
    <hr>
    <div class="mini-estampilles">
        {% for b in post.tags.all %}
          {% if b.slug == "international" %}
            <i class="fa fa-globe">-International</i>
          {% else %}
            <i class="fa fa-circle {{b.slug}}" data-toggle="popover" data-content="<a href='/{{ b.slug }}'>Bureau {{ b.name }}</a>" data-placement="top" data-trigger="focus" tabindex="0">-{{b.slug}}</i>
        {% endif %}
        {% endfor %}
   </div>
</article>
