{% extends 'base.html' %}
{% load static i18n cms_tags menu_tags sekizai_tags %}
{% load social_share %}
{% load thumbnail %}

{% block breadcrumb %}
<div class="col-md-12" style="background-color: white;">
    <ul id="FilAriane" class="hidden-sm hidden-xs">
      {% show_breadcrumb %}
    </ul>
</div>
{% endblock %}

{% block contenu %}
<div class="col-md-12" id="content" style="background: white">
<div class="col-md-4">

{% if post.main_image %}
{% render_model_block post "main_image" %}
            {% thumbnail post.main_image post.full_image_options.size crop=post.full_image_options.crop upscale=post.full_image_options.upscale subject_location=post.main_image.subject_location  as thumb %}
        <img class="img-thumbnail" src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
{% endrender_model_block %}
{% else %}
{% render_model_block post "main_image" %}
    <img class="img-thumbnail" src="http://www.auf.org/static/logodefaut.jpg"/>
{% endrender_model_block %}
{% endif %}

<div class="django_social_share">
<b>Partager sur:</b> {% post_to_facebook post '<i class="fa fa-2x fa-facebook-official"></i>' %} {% post_to_gplus post '<i class="fa fa-2x fa-google-plus"></i>' %} {% post_to_twitter "Visitez: " post '<i class="fa fa-2x fa-twitter"></i>' %}
</div>

{% placeholder colonne_gauche %}
</div>

<div class= "col-md-6 texte">
    <h2>{% render_model post "title" %}</h2>

    <p class="paraintro"><strong>{% render_model post "abstract" %}</strong></p>

    {% if post.bureau.all %}
      <p>
      {% for b in post.bureau.all %}
          {% if b.nom == "International" %}
            <i class="fa fa-globe">-International</i>
          {% else %}
          <i class="fa fa-circle B{{b.code}}" data-toggle="popover" data-content="{{ b.nom }}" data-placement="top" data-trigger="focus" tabindex="0">-{{b.nom}}</i>
          {% endif %}
      {% endfor %}
      </p>
    {% endif %}
    <div>
    {% if use_placeholder %}
        <div class="blog-content">{% render_placeholder post.content %}</div>
    {% else %}
        <div class="blog-content">{% render_model post "post_text" "post_text" %}</div>
    {% endif %}

 <p><strong>Date de publication :</strong>  {{ post.date_published|date:"DATE_FORMAT" }}
<br><strong>Date limite :</strong> {{ post.date_published_end|date:"DATE_FORMAT" }}</p>
    </div>
</div>

<div class="col-md-2">
{% placeholder colonne_droite%}
</div>
</div>
{% endblock %}
