{% load i18n cms_tags %}


{% block Contenu %}
<h3>{{ object.fonction }} - {{ object.implantation.region.nom }}</h3>

<div id="tabemploye">
<table>
    <tr style="background:#E6B804 !important; font-weight: bold; text-align: center;">
        <td width="12%" style="color: #fff !important;">{% trans "Employe" %}</td>
        <td width="10%" style="color: #fff !important;">{% trans "Envoi courriel" %}</td>
    </tr>
    <tr>
        <td>{{ object.nom.upper }} {{ object.prenom }}</td>
        <td align="center" valign="middle"><a href="{% url "contacter_employe" object.id %}"><img src="{{ STATIC_URL }}img/contact_letttre.gif"</a></td>
    </tr>
</table>
</div>

<a href="/employes/?region={{ object.implantation.region.id }}">Tous les employés de la région</a>

{% endblock %}
