{% load sekizai_tags staticfiles auf %}
{% get_bureau as bureau %}


{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ol.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/carte.css" type="text/css"/>
{% endaddtoblock %}

{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}js/ol.js"></script>
    <script src="{{ STATIC_URL }}js/carte.js"></script>
  <script type="text/javascript">
    const COULEURS_BUREAUX = {'BSC': '#FF0000', 'BACGL': '#F7AB00', 'BA': '#34AB92',
                    'BAP': '#9F72AE', 'BC': '#601D52', 'BM': '#B49B5A',
                    'BMO': '#387DC0', 'BOI': '#EE79AD', 'BECO': '#73D0F5',
                    'BAO': '#65B22E', 'BEOM': '#000088', 'BEO': '#EA560D'};

    
    var carte;
    var div_carte = $("#carte");
    var implantation_marker_url = div_carte.data('implantation-marker-url');
    var membre_marker_url = div_carte.data('membre-marker-url');

    function map_clicked(code_pays, nom, implantations, nb_etablissements,
                               nb_par_type) {
      var noms_implantations =  [];
      $.each(implantations, function(i, impl) {
        noms_implantations.push(impl.nom) });
      var html = '<p class="ol-popup-titre">' + nom + '</p>'
               + '<ul class="implantation">';

      $.each(implantations, function(i, impl) {
        html += '<li>' + impl.nom + '</li>';
      });
      html += '</ul>';

      html += '<ul class="ol-popup-liste">'
              + '<li class="etablissements">'
              + '<strong>' + nb_etablissements.toString() + '</strong> Établissements</li>';
      
      $.each(nb_par_type, function(code_type, nb) {
        if(nb > 1) {
          html += '<li class="' + code_type + '"><strong>' + nb.toString() + '</strong> ' + code_type + '</li>';
        };
      });
      html += '</ul>';
      $('#popup').html(html);
      $('#popup').show();
    }

    function init_carte(donnees_carte) {
      carte = Carte.init({
        container_id: 'carte',
        donnees_carte: donnees_carte,
        implantation_marker_url: implantation_marker_url,
        membre_marker_url: membre_marker_url,
        on_map_click: map_clicked,
        couleurs_bureaux: COULEURS_BUREAUX,
{% if bureau.0 %}
        filtre_region: '{{ bureau.0 }}',
        zoom_to_region: '{{ bureau.0 }}'
{% endif %}
      });
    }

    function filtre_change() {
      var code_bureau = $('#filter-bureau').val();
      var type_etabli = $("input[type='checkbox'][name='filter-type-etabli']").prop('checked');
      var type_implan = $("input[type='checkbox'][name='filter-type-implan']").prop('checked');
      carte.filter_map(code_bureau, type_etabli, type_implan);
      carte.zoom_to_region(code_bureau);
    }

    $(function() {
      $.getJSON('/auf_carte/donnees_carte.json', init_carte);
      $('#filter-bureau').change(filtre_change);
      $("input[type='checkbox'][name='filter-type-etabli']").change(filtre_change);
      $("input[type='checkbox'][name='filter-type-implan']").change(filtre_change);
    });
  </script>
{% endaddtoblock %}

  <div class="filters">
    <form>
      <label for="filter-bureau">Régions</label>
      <select id="filter-bureau">
        <option value="international">International</option>
        {% for b in bureaux %}
          <option value="B{{ b.code }}" {% if bureau.0 == "B"|join:b.code %}selected{% endif %}>{{ b.nom }}</option>
        {% endfor %}

      </select>
      <input name="filter-type-etabli" type="checkbox" value="etablissements">Établissements</option>
      <input name="filter-type-implan" type="checkbox" value="implantations" checked="checked">Implantations</option>
    </select>
    </form>
  </div>
  <div id="carte" style="height: 600px; width: 100%"
       data-implantation-marker-url="{{ STATIC_URL }}img/google-309739_640.png"
       data-membre-marker-url="{{ STATIC_URL }}img/google-309740_640.png">

  </div>
  <img src="{{ STATIC_URL }}img/legende2015.svg" alt="legende" width="100%"/>

    <div id="popup" class="ol-popup">
    </div>





