@charset "UTF-8";

/* -----------------------------------------------------------------------------------------------------------------
GÉNÉRAL ------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

ol, ul {
    list-style: none;
    padding: 0;
}

body {
    font-family: Open Sans;
    background-color: #E5E5E5;
    margin-top: 5px;
}

a {
    color: #0098e9;
    text-decoration: none;
}
a:hover {
    color: #0098e9;
    text-decoration: none;
}

sup {
    font-size: 80%;
    line-height: 100%;
    vertical-align: text-top;
    padding-bottom: 5px;
}

.hr {
    height: 1px;
    display: block;
    background: #f2f2f3;
    margin: 33px 0 15px 0;
}

h2 {
    margin-top: 30px;
}

/* ------------Tables -------------- */

th {
    text-align: center;
    font-weight: bold;
}

#form-error li {
    padding: 0px 0px 0px 15px !important;
}

#tabemploye {
    font-size: 11px;
}

table {
    font-size: 11px;
    margin-bottom: 15px;
    min-width: 405px;
    width: 100%;
}

td {
    padding: 8px 8px 8px 8px;
    color: #616161;
}

tr {
    border: 1px solid #e5e5e5;
    padding: 10px 0px 10px 0px;
    background: url(../img/Bg_Enc.png) bottom repeat-x;
}

/* -------------------------------------------------------------------
------------------STYLES COMMUNS À TOUTES LES PAGES-------------------
---------------------------------------------------------------------- */

/*---------------[SITE INSTITUTIONNEL]-------------------*/

/* -----------Entete------------
--------------------------------*/

/* ------------Logo-------------- */

.navbar-brand {
    max-width: 15%;
    padding: 10px 0 0 10px;
}


.img-responsive, .thumbnail a > img, .thumbnail > img {

}




.img-responsive-tel {

display:none;
}
/* -----Menu navigation couleurs---- */

.container-ms {
	padding-right: 0px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom:5px;
	max-width:1170px;
	text-align:right;

}

.container-ms p{
margin:0px;
}



.ReseauxSociaux {
    margin-right: 19px;
}


#NavFixe {
    display: table-cell;
    width: 33%;
    padding-right: 7px;
    padding-left: 7px;
 	background: url(/static/img/barre-couleur.png) no-repeat center 8px;
	padding-top:15px;
}
#NavFixe a {
    color: #474747;
    text-decoration: none;
    display: inline-block;
    padding-top: 0px;
}
#NavFixe a:hover {
    color: #0098E9;
    background-color: transparent;
}
#NavFixe > li {
    float: right;
    margin-top: 10px;
    padding: 1px 0 0 0;
font-size:10px;
    color: #474747;
    padding: 0px 25px; 
    text-align: right;
}



ul#NavFixe .dropdown a.dropdown-toggle {
    cursor: pointer;
}

/*----------Icônes réseaux sociaux --------------*/

.fa-rss {
    color: #F99000;
}
.fa-twitter-square {
    color:  #00aced;
}
.fa-facebook-square {
    color: #3b5998;
}
.fa-youtube-play {
    color: #bb0000;
}
#dailymotion {
    fill: #32506d;
}

/* -------------Menu principal----------------- */


/* -Firefox Selector- */

@-moz-document url-prefix() {
    #MenuPrincipal {
        font-size:0.91em;
    }
}

#MenuPrincipal {
    width:100%;
}

#MenuPrincipal li {
    font-weight: bold;
    text-transform: uppercase;
}

#MenuPrincipal li a {
    color: #AA0A2F;
}

#MenuPrincipal li ul li {
    text-transform: none;
}

#MenuPrincipal .dropdown-menu li.active a {
    background: #e7e7e7;
}

/* -Pour icône "home"- */

#MenuPrincipal .fa-home {
    font-size: 2rem;
}


/* ----------Tetière en angle----------- */

.tetiere-svg {
    position: relative;
    float:left;
    width: 100%;
}

/* -------------Entete secondaire grise------------- */

#EnteteSecondaire {
    height: 340px;
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(144, 144, 144, 0.82) 100%), url('/static/img/CarteFond.png') no-repeat 0 0;
    /* Safari */
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(144, 144, 144, 0.82) 100%), url('/static/img/CarteFond.png') no-repeat 0 0;
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(144, 144, 144, 0.82) 100%), url('/static/img/CarteFond.png') no-repeat 0 0;
    /* For Fx 3.6 to 15 */
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(144, 144, 144, 0.82) 100%), url('/static/img/CarteFond.png') no-repeat 0 0;
    /* Standard syntax (must be last) */
}

/* -------------Bloc de présentation------------- */

.transluscide {
    background: radial-gradient(rgb(255, 255, 255) 45%, rgb(219, 219, 219) 110%);
    top: 16px;
    border: 7px solid rgb(255, 255, 255);
    border-image-source: url(/static/img/bande-couleurs.png);
    border-image-slice: 7 77;
    width: 306px;
    box-shadow: rgb(107, 107, 107) 0px 0px 4px 2px;
}


#BlocPresentation h1 {
    font-size: 16px;
    line-height: 16px;
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 16px;
    text-shadow: rgb(197, 197, 197) 1px 0px;}

#BlocPresentation a {
    border-bottom: 1px solid rgb(185, 185, 185);
}

#BlocPresentation p {
    line-height: 17px;
    color: #000;
    margin-bottom: 14px;
}

/* -------------Carrousel------------- */

.carrousel {
    width: 638px;
    top: 16px;
    left: -10px;
}

.carousel i {
    margin-top: 90px;
    font-size: 35px;
    text-shadow: -1px 2px 9px #000;
}

.carousel-caption h4, .carousel-caption p {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

#EnteteSecondaire .carousel-indicators {
    bottom: -54px;
}

#EnteteSecondaire .carousel-indicators li {
    margin-left: 2px;
}

#EnteteSecondaire .carousel-indicators .active {
    margin-left: 2px;
}

#EnteteSecondaire .carousel-caption {
    background: rgba(244, 18, 18, 0.71);
    padding: 0px;
    bottom: 0px;
    right: 0%;
    left: 0%;
    position:relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fa-chevron-circle-right {
    margin-left: 78px;
}

.fa-chevron-circle-left {
    margin-left: -92px;
}


/* -----------Corps------------
--------------------------------*/


/* ------------Fil d'Ariane--------------- */
#FilAriane {
    padding: 0 24px 0 21px;
    overflow: hidden;
    background: white;
    border-bottom: 1px solid #cdcdce;
    margin-right: -15px;
    margin-left: -15px;
}
#FilAriane li {
    font-size: 11px;
    float: left;
    color: #adadae;
    height: 32px;
    line-height: 32px;
    background: url(../img/Bg_SepFilAriane.gif) no-repeat right 0;
    padding: 0 17px 0 0;
    margin-right: 10px;
}

#FilAriane a {
    color: #5c5c5c;
    text-decoration: none;
}
#FilAriane a:hover {
    color: #0098E9;
}


/* -----------ONGLETS (TABS)------------
----------------------------------------*/

.nav-tabs {
    margin-top:10px;
}

.ddmenutab{display:none;}

ul.nav.nav-tabs a {
    margin-left:10px;
    color:black;
}

ul.nav.nav-tabs a:hover {
    color:black;
}

ul.nav.nav-tabs a {
    margin-left:10px;
    color:black;
}

.nav-tabs > li {
    margin-left: -10px !important;
}

ul.nav.nav-tabs > li.active a {
    border-bottom:1px solid white;
}

ul.nav.nav-tabs a:hover {
    color:black;
}


/*--------TAB Actualités---------*/


.accueil ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: silver;
    color:white;
    border:none;
}

.accueil ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(192, 192, 192, 0.49);
}

.accueil ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid silver;
    color: rgb(75, 75, 75);
    border-bottom:none;
    margin-bottom: -1px;
}



/*--------TAB Appels d'offre---------*/


ul.nav.nav-tabs > li:nth-last-child(5) a {
    background-color: #1D9DD9;
    color:white;
    border:none;
}

ul.nav.nav-tabs > li:nth-last-child(5) > a:hover {
    background-color: rgba(29, 157, 217, 0.49);
}

ul.nav.nav-tabs > li.active:nth-last-child(5) > a {
    background: white;
    border: 3px solid #1D9DD9;
    color:#1D9DD9;
    border-bottom:none;
    margin-bottom: -1px;

}

/*--------TAB Publications---------*/

ul.nav.nav-tabs > li:nth-last-child(4) a {
    background-color: #FFD500;
    border:none;
}

ul.nav.nav-tabs > li:nth-last-child(4) > a:hover {
    background-color: rgba(255, 213, 0, 0.49);
}

ul.nav.nav-tabs > li.active:nth-last-child(4) > a {
    background: white;
    border: 3px solid #FFD500;
    color: #8B7400;
    border-bottom:none;
    margin-bottom: -1px;
}

/*--------TAB Bourses---------*/

ul.nav.nav-tabs > li:nth-last-child(3) a {
    background-color: #8DBE23;
    color:white;
    border:none;
}

ul.nav.nav-tabs > li:nth-last-child(3) > a:hover {
    background-color: rgba(141, 190, 35, 0.49);
}

ul.nav.nav-tabs > li.active:nth-last-child(3) > a {
    background: white;
    border: 3px solid #8DBE23;
    color:#8DBE23;
    border-bottom:none;
    margin-bottom: -1px;
}

/*--------TAB Évenements---------*/

ul.nav.nav-tabs > li:nth-last-child(2) a {
    background-color: #702283;
    color:white;
    border:none;
}

ul.nav.nav-tabs > li:nth-last-child(2)> a:hover {
    background-color: rgba(112, 34, 131, 0.49);
}

ul.nav.nav-tabs > li.active:nth-last-child(2) > a {
    background: white;
    border: 3px solid #702283;
    color:#702283;
    border-bottom:none;
    margin-bottom: -1px;
}

/*--------TAB Appels à concurrence---------*/

ul.nav.nav-tabs > li:nth-last-child(1) a {
    background-color: #E52727;
    color:white;
    margin-right: -7px;
    border:none;
}

ul.nav.nav-tabs > li:nth-last-child(1) > a:hover {
    background-color: rgba(229, 39, 39, 0.49);
}

ul.nav.nav-tabs > li.active:nth-last-child(1) > a {
    background: white;
    border: 3px solid #E52727;
    color:#E52727;
    border-bottom:none;
    margin-right:-8px;
    margin-bottom: -1px;
}

/*---------------Contenu Actif des TABS-----------------*/

.tab-content > .tab-pane.active {
    margin-top:-2px;
    border-radius: 0px 0px 8px 8px;
}

.tab-content > .tab-pane.active .btn-info::after {
    content: "\f0da";
    margin-left: 5px;
    font-family:Fontawesome;
}

.accueil .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid silver;
}

.tab-content > .tab-pane.active:nth-last-child(5) {
    border:3px solid #1D9DD9;
}

.tab-content > .tab-pane.active:nth-last-child(4) {
    border:3px solid #FFD500;
}

.tab-content > .tab-pane.active:nth-last-child(3) {
    border:3px solid #8DBE23;
}

.tab-content > .tab-pane.active:nth-last-child(2) {
    border:3px solid #702283;
}

.tab-content > .tab-pane.active:nth-last-child(1) {
    border:3px solid #E52727;
}


.accueil .tab-content > .tab-pane.active:nth-child(1) .btn-info {
    background:silver;
    border-color:white;
    color:black;
}

.tab-content > .tab-pane.active:nth-last-child(5) .btn-info {
    background:#1D9DD9;
    border-color:white;
}

.tab-content > .tab-pane.active:nth-last-child(4) .btn-info {
    background:#FFD500;
    color:black;
    border-color:white;
}

.tab-content > .tab-pane.active:nth-last-child(3) .btn-info {
    background:#8DBE23;
    border-color:white;
}

.tab-content > .tab-pane.active:nth-last-child(2) .btn-info {
    background:#702283;
    border-color:white;
}

.tab-content > .tab-pane.active:nth-last-child(1) .btn-info {
    background:#E52727;
    border-color:white;
}

#content > div > div > ul.nav-tabs > li.active > a {
    top: 1px;
    position: relative;
}

#content > div > div.tab-content {
    border-radius: 0px 0px 8px 8px;
    box-shadow: 1px -6px 19px 2px #D4D4D4;
}

.tab-content > .tab-pane {
    padding: 14px;
}



/* -----------CONTENU DYNAMIQUE (ACTUS, APPELS, PUBLICATIONS, ETC)------------
------------------------------------------------------------------------------*/

/*----------------Styles pour intérieur des items dynamiques--------------*/

.thumbnail-appels {
    box-shadow: 0px 0px 2px 0px #B0B0B0;
}

.thumbnail-appels:hover {
    background: rgba(245, 245, 245, 0.43);
    border: 1px solid rgb(166, 166, 166);
}

.thumbnail-appels h4 {
    color: #1D9DD9;
}

.thumbnail-appels .img-thumbnail {
    margin: 10px;
}

.thumbnail-appels .caption a {
    color: #616161;
}

.thumbnail-appels .btn-default {
    margin-top: 10px;
    border-top: 2px solid #1D9DD9;
    border-radius: 0px;
    color: #1D9DD9;
}

/*---------------Boutons superieurs "Voir plus"-----------------*/

.tab-content > .tab-pane.active:nth-last-child(6) .thumbnail-appels:nth-child(1) {
    display:inline-block;
}

.tab-content > .tab-pane.active:nth-last-child(6) .btn-sm {
    margin-top: -9px;
    margin-bottom:5px;
}

.tab-content > .tab-pane.active:nth-last-child(5) .thumbnail-appels:nth-child(1) {
    display:inline-block;
}

.tab-content > .tab-pane.active:nth-last-child(5) .btn-sm {
    margin-top: -9px;
    margin-bottom:5px;
}

.tab-content > .tab-pane.active:nth-last-child(4) .thumbnail-appels:nth-child(1) {
    display:inline-block;
}

.tab-content > .tab-pane.active:nth-last-child(4) .btn-sm {
    margin-top: -9px;
    margin-bottom:5px;
}

.tab-content > .tab-pane.active:nth-last-child(3) .thumbnail-appels:nth-child(1) {
    display:inline-block;
}

.tab-content > .tab-pane.active:nth-last-child(3) .btn-sm {
    margin-top: -9px;
    margin-bottom:5px;
}

.tab-content > .tab-pane.active:nth-last-child(2) .thumbnail-appels:nth-child(1) {
    display:inline-block;
}

.tab-content > .tab-pane.active:nth-last-child(2) .btn-sm {
    margin-top: -9px;
    margin-bottom:5px;
}

.tab-content > .tab-pane.active:nth-last-child(1) .thumbnail-appels:nth-child(1) {
    display:inline-block;
}

.tab-content > .tab-pane.active:nth-last-child(1) .btn-sm {
    margin-top: -9px;
    margin-bottom:5px;
}

/*------------------Mini estampilles région---------------------*/


.mini-estampilles{
    margin-top: -15px;
}

.mini-estampilles i{
    margin-left: 12px;
}

.mini-estampilles .fa-circle {
    cursor:pointer;
    outline: 0;
}


/* -------------Moteur de recherche-------------
--------------------------------------------------- */

.btn-carre {
    background: none;
    color: white;
    margin-left: 14px;
    bottom:50px;
}


.search-results li {
    background: #E5E5E5;
    padding: 1px 0px 1px 14px;
    margin: 11px;
    border: 1px dashed rgb(205, 205, 205);
    border-radius: 4px;
}

.filtres {
    margin-top: 41px;
    border: 1px solid rgb(214, 214, 214);
    padding: 17px 0px 0px 31px;
    margin-bottom: -20px;
    box-shadow: rgb(176, 176, 176) 1px 1px 2px;
}

.titre-filtres {
    background: rgb(241, 241, 241);
    text-align: center;
    margin: 21px 0px -24px;
    padding: 2px;
    border: 1px solid;
}

.navbar-form {
    padding-right: 68px;
}

.highlighted {
    background-color: #1D9DD9;
}


/* -------------Page secondaire de CMS-------------
--------------------------------------------------- */


.banniere {
    position: relative;
    z-index: -2;
    top: -37px;
    margin-bottom: -42px;
}

.banniere img {
    display: inline;
}

#content {
    margin-top: 0px;
    padding-bottom: 37px;
    background: white;
    margin-left: 0px;
    margin-right: 0px;
}



/* -------------Texte------------- */

.texte {
    min-height: 500px;
}

.texte img {
    padding: 5px;
    border: 1px solid #DFDFDF;
    margin: 10px 14px 6px 0px;
    max-width: 100%;
    height: auto;
}


.texte h3 {
    letter-spacing:0px;
    border-bottom: 1px dotted #D6D6D6;
    font-size:2rem;
    margin-bottom: 10px;
    border-left: 3px solid #1D9DD9;
    padding-left: 4px;
}

.texte p {
    letter-spacing:0.1px;
    line-height:1.9rem;
    margin-bottom: 10px;
    margin-left:6px;
    text-align:justify;
}

.texte strong {text-align: justify;}

.texte ul li {
    margin-left: 38px;
    list-style-type:circle;
    padding-top:9px;
}

.texte ol li {
    margin-left: 38px;
    list-style-type:decimal;
    padding-top:9px;
}

/* -------------Articles------------- */

.img-thumbnail {
    margin-top:30px;
}

/* -------------Menu flottant latéral------------- */

#myAffix.affix {
    top: 40px;
    width: 347px;
}

#ColonneMenuSecondaire {
    border-left: 1px solid #1D9DD9;
}

#ColonneMenuSecondaire li a {
    color: #AA0A2F;
}

#ColonneMenuSecondaire li a::before {
    font-family: fontawesome;
    content: "\f054";
    color: #1D9DD9;
    margin-left: -10px;
    margin-right: 8px;
    font-size:12px;
}

/*------------Sous menu sur contenu (pas utilisé)----------*/


#EncartSousMenu li  {
    margin: 0px 0px 25px 0px;
    padding: 11px;
    border: 1px solid #f5f5f5;
    background: url('/static/img/Bg_Enc.png?79652420884f') bottom repeat-x !important;
    overflow: hidden;
    list-style:none;
}

#EncartSousMenu img {
    max-height: 150px;
    width: 118px;
    margin-right: 15px;
    float:left;
}

#EncartSousMenu .btn-info {
    display: inline-block;
    line-height: 23px;
    float:right;
}

#EncartSousMenu .BlocD {
    margin-top:-35px;
    top:10px;
}

#EncartSousMenu .stuff {
    margin-left:130px
}


/* -------------Organigramme------------- */
.Organigramme  ul li {
    margin-left: 0px;
}


/*------------MAP membre--------------*/
iframe #afficher {
    background-color: #FFFFFF !important;
}


/*----------Boîtes de couleurs latérales-----------
----------------------------------------------------*/

.vert, .rouge, .bleu {
    margin-bottom: 20px;
    font-size: 1.5em;
    border-radius:3px;
}

.rouge p, .vert p, .bleu p, .boite-lettre p, .boite-temoignages p, .boite-partenaires p {
    margin-bottom: 0px;
}


.rouge li, .vert li, .bleu li, .boite-lettre li, .boite-temoignages li, .boite-partenaires li {
    background: rgb(224, 224, 224);
    box-shadow:none;
    border-radius:0px;
}

.rouge h3, .vert h3, .bleu h3, .boite-lettre h3, .boite-temoignages h3, .boite-partenaires h3 {
    margin-top: -15px;
    margin-bottom: -10px;
    background: none;
    font-weight: bold;
    color: white;
    float: none;
    padding:3px;
    text-align:Center;
}

.rouge h4, .vert h4, .bleu h4, .boite-lettre h4, .boite-temoignages h4, .boite-partenaires h4 {
    margin-top: -15px;
    margin-bottom: -10px;
    background: none;
    font-weight: bold;
    color: white;
    float: none;
    padding:3px;
    text-align:Center;
}

.liste-carres ul li {
    margin-top: 7px;
    font-size: 1.3rem;
}


/*-----------Boîte ROUGE-----------*/

.rouge {
    margin-top: 49px;
    border: 3px solid rgb(229, 39, 39);
}


.rouge .titre {
    background: rgb(229, 39, 39);
    margin-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
}

.rouge h4 {
    font-size: 1.9rem;
}

.rouge a.btn.btn-info {
    background: #E52727;
    border: none;
}

.rouge ul li a {
    color:#333;
    display:block;
    padding:5px;
    font-weight:500;
    text-align:center;
    border-radius:0px;
}

.rouge ul li a:hover {
    background:rgb(229, 39, 39);
    color:white;
    font-weight:normal;
    box-shadow:inset 0px 0px 3px 2px rgb(208, 44, 44);
}

/*------------Boîte VERTE--------------*/

.vert {
    border: 3px solid rgb(141, 190, 35);
}

.vert .titre {
    background: rgb(141, 190, 35);
    margin-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
}

.vert h4 {
    font-size: 17px;}

.vert a.btn.btn-info {
    background: rgb(141, 190, 35);
    border: none;
}

.vert ul li a {
    color:#333;
    display:block;
    padding:5px;
    font-weight:500;
    text-align:center;
    border-radius:0px;
}

.vert ul li a:hover {
    background:rgb(141, 190, 35);
    color:white;
    font-weight:normal;
    box-shadow:inset 0px 0px 3px 2px rgb(136, 180, 37);
}

/*-----------Boîte BLEUE (VIOLET)-----------*/

.bleu {
    border: 3px solid rgb(112, 34, 131);
}

.bleu .titre {
    background: rgb(112, 34, 131);
    margin-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
}

.bleu h4 {
    font-size: 1.5rem;
}

.bleu a.btn.btn-info {
    background: rgb(112, 34, 131);
    border: none;
}

.bleu ul li a {
    color:#333;
    display:block;
    padding:5px;
    font-weight:500;
    text-align:center;
    border-radius:0px;
}

.bleu ul li a:hover {
    background:rgb(112, 34, 131);
    color:white;
    font-weight:normal;
    box-shadow:inset 0px 0px 3px 2px rgb(103, 39, 119);
}

/*--------Boîte BLEU CIEL--------*/

.boite-lettre {
    border: 3px solid rgb(29, 157, 217);
}

.boite-lettre .titre {
    background: rgb(29, 157, 217);
    margin-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
}

.boite-lettre p {
    background: rgb(29, 157, 217);
    color: white;
    text-align: center;
    font-weight: bold;
}

.boite-lettre ul li a{
    color:#333;
    display:block;
    padding:5px;
    font-weight:500;
    text-align:center;
    border-radius:3px;
    background:none;
}

.boite-lettre ul li a:hover {
    background:rgb(29, 157, 217);
    color:white;
    font-weight:normal;
    box-shadow:inset 0px 0px 3px 2px rgb(36, 145, 196);
}

/*--------Boîte JAUNE--------*/

.boite-temoignages {
    border: 3px solid rgb(255, 213, 0);
}

.boite-temoignages .titre {
    background: rgb(255, 213, 0);
    margin-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
}

.boite-temoignages p {
    background: rgb(255, 213, 0);
    padding: 8px 10px 7px 8px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}

.boite-temoignages ul li a {
    color:#333;
    display:block;
    padding:10px;
    font-weight:500;
    text-align:center;
    border-radius:0px;
    margin-bottom:-10px;
}

.boite-temoignages ul li a:hover {
    background:rgb(255, 213, 0);
    color:rgb(54, 54, 54);
    font-weight:normal;
    box-shadow:inset 0px 0px 3px 2px rgb(229, 202, 63);
}

.boite-temoignages h4, .boite-temoignages h5
                        {
                            margin-top: -15px;
                            margin-bottom: -10px;
                            background: none;
                            color: rgb(54,54,54);
                            float: none;
                            padding:3px;
                            text-align:center;
                        }

/*------Boîte GRISE----*/

.boite-partenaires {
    border: 3px solid grey;
}

.boite-partenaires .titre {
    background: grey;
    margin-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
}

.boite-partenaires ul li a{
    color:#333;
    display:block;
    padding:5px;
    font-weight:500;
    text-align:center;
    border-radius:3px;
    background:none;
}

.boite-partenaires ul li a:hover {
    background:grey;
    color:white;
    font-weight:normal;
    box-shadow:inset 0px 0px 3px 2px #888;
}

.boite-partenaires img {
    margin-left: 21px;
    margin-bottom: 11px;
    border: 1px solid lightgrey;
    padding: 6px;
}


/*-----Contenu dynamique dans les Boîtes----*/

.thumbnail-bureau {
    font-size: 1.2rem;
    margin: 0px -8px 11px -8px;
}

.thumbnail-bureau:hover {
    background: rgba(245, 245, 245, 0.43);
    border: 1px solid rgb(166, 166, 166);
}

.thumbnail-bureau img {
    width:80px;
    margin-top:0px;
    border: 1px solid rgb(178, 178, 178);
}

.thumbnail-bureau span {
    font-weight: bold;
    display: flex;
    padding-right: 6px;
    padding-left: 4px;
    padding-top: 0px;
    margin-bottom: -13px;
}

.thumbnail-bureau .text-muted {
    margin-top: -15px;
    margin-bottom: 0px;
    color: #AA0A2F;
    margin-left: 5px;
    font-size: smaller;
}

.thumbnail-bureau .title-date {
    min-height: 52px;
}

/* -------------------------------------------------------------------
------------------STYLES COMMUNS AUX BUREAUX RÉGIONAUX-------------------
---------------------------------------------------------------------- */

/* ------------ENTETES SECONDAIRES----------------
------------------------------------------------ */

/*------[Bureau des Amériques (BA)]---------*/
#EnteteSecondaire.BA  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #34AB92 100%), url('/static/img/bandeaux/BACarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #34AB92 100%), url('/static/img/bandeaux/BACarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #34AB92 100%), url('/static/img/bandeaux/BACarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #34AB92 100%), url('/static/img/bandeaux/BACarte.png') no-repeat 0 0;
}

/*------[Bureau Afrique Centrale et des Grands Lacs (BACGL)]---------*/
#EnteteSecondaire.BACGL  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #F7AB00 100%), url('/static/img/bandeaux/BACGLCarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #F7AB00 100%), url('/static/img/bandeaux/BACGLCarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #F7AB00 100%), url('/static/img/bandeaux/BACGLCarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #F7AB00 100%), url('/static/img/bandeaux/BACGLCarte.png') no-repeat 0 0;
}

/*------[Bureau Afrique de l'Ouest (BAO)]---------*/
#EnteteSecondaire.BAO  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #65B22E 100%), url('/static/img/bandeaux/BAOCarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #65B22E 100%), url('/static/img/bandeaux/BAOCarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #65B22E 100%), url('/static/img/bandeaux/BAOCarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #65B22E 100%), url('/static/img/bandeaux/BAOCarte.png') no-repeat 0 0;
}

/*------[Bureau Asie Pacifique (BAP)]---------*/
#EnteteSecondaire.BAP  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #9F72AE 100%), url('/static/img/bandeaux/BAPCarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #9F72AE 100%), url('/static/img/bandeaux/BAPCarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #9F72AE 100%), url('/static/img/bandeaux/BAPCarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #9F72AE 100%), url('/static/img/bandeaux/BAPCarte.png') no-repeat 0 0;
}

/*------[Bureau Caraïbes (BC)]---------*/
#EnteteSecondaire.BC  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #601D52 100%), url('/static/img/bandeaux/BCCarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #601D52 100%), url('/static/img/bandeaux/BCCarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #601D52 100%), url('/static/img/bandeaux/BCCarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #601D52 100%), url('/static/img/bandeaux/BCCarte.png') no-repeat 0 0;
}

/*------[Bureau Europe Central et Oriental (BECO)]---------*/
#EnteteSecondaire.BECO  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #73D0F5 100%), url('/static/img/bandeaux/BECOCarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #73D0F5 100%), url('/static/img/bandeaux/BECOCarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #73D0F5 100%), url('/static/img/bandeaux/BECOCarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #73D0F5 100%), url('/static/img/bandeaux/BECOCarte.png') no-repeat 0 0;
}

/*------[Bureau Europe de l'Ouest (BEO)]---------*/
#EnteteSecondaire.BEO  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #EA560D 150%), url('/static/img/bandeaux/BEOCarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #EA560D 150%), url('/static/img/bandeaux/BEOCarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #EA560D 150%), url('/static/img/bandeaux/BEOCarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #EA560D 150%), url('/static/img/bandeaux/BEOCarte.png') no-repeat 0 0;
}

/*------[Bureau Maghreb (BM)]---------*/
#EnteteSecondaire.BM  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #B49B5A 100%), url('/static/img/bandeaux/BMCarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #B49B5A 100%), url('/static/img/bandeaux/BMCarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #B49B5A 100%), url('/static/img/bandeaux/BMCarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #B49B5A 100%), url('/static/img/bandeaux/BMCarte.png') no-repeat 0 0;
}

/*------[Bureau Moyen-Orient (BMO)]---------*/
#EnteteSecondaire.BMO  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #387DC0 100%), url('/static/img/bandeaux/BMOCarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #387DC0 100%), url('/static/img/bandeaux/BMOCarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #387DC0 100%), url('/static/img/bandeaux/BMOCarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #387DC0 100%), url('/static/img/bandeaux/BMOCarte.png') no-repeat 0 0;
}

/*------[Bureau Océan Indien (BOI)]---------*/
#EnteteSecondaire.BOI  {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #EE79AD 100%), url('/static/img/bandeaux/BOICarte.png') no-repeat 0 0;
    background: -o-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #EE79AD 100%), url('/static/img/bandeaux/BOICarte.png') no-repeat 0 0;
    background: -moz-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #EE79AD 100%), url('/static/img/bandeaux/BOICarte.png') no-repeat 0 0;
    background: radial-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, #EE79AD 100%), url('/static/img/bandeaux/BOICarte.png') no-repeat 0 0;
}

/* ------------ESTAMPILLES ET COULEURS----------------
------------------------------------------------ */

/*-------------Estampilles et titres----------------*/
.estampille {
    position: relative;
    top: 5px;
    right: -28px;
}

.estampille-bureau {
    width: 15%;
}

.titre-bureau {
    display: inline;
    position: relative;
    top: -19px;
    left: 21px;
    font-weight: bold;
}

/*-------------Couleurs des bureaux----------------*/

.BA , .BA .circle1, .BA rect, .BA #dailymotion {
    color: #34AB92 !important;
    fill: #34AB92 !important;
}

.BACGL, .BACGL .circle1, .BACGL rect, .BACGL #dailymotion {
    fill: #F7AB00 !important;
    color: #F7AB00 !important;
}

.BAO, .BAO .circle1, .BAO rect, .BAO #dailymotion {
    fill: #65B22E !important;
    color: #65B22E !important;
}

.BAP, .BAP .circle1, .BAP rect, .BAP #dailymotion {
    fill: #9F72AE !important;
    color: #9F72AE !important;
}

.BC, .BC .circle1, .BC rect, .BC #dailymotion {
    fill: #601D52 !important;
    color: #601D52 !important;
}

.BECO, .BECO .circle1, .BECO rect, .BECO #dailymotion {
    fill: #73D0F5 !important;
    color: #73D0F5 !important;
}

.BEO, .BEO .circle1, .BEO rect, .BEO #dailymotion {
    fill: #EA560D !important;
    color: #EA560D !important;
}

.BM, .BM .circle1, .BM rect, .BM #dailymotion {
    fill: #B49B5A !important;
    color: #B49B5A !important;
}

.BMO, .BMO .circle1, .BMO rect, .BMO #dailymotion {
    fill: #387DC0 !important;
    color: #387DC0 !important;
}

.BOI, .BOI .circle1, .BOI rect, .BOI #dailymotion {
    fill: #EE79AD !important;
    color: #EE79AD !important;
}


/*-------------Onglets "À PROPOS" (BUREAUX)--------------
---------------------------------------------------------*/

/*--------Bureau des Amériques (BA)---------*/

.bureau-ameriques ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #34AB92;
    color:white;
    border:none;
}

.bureau-ameriques ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(52, 171, 146, 0.49);
}

.bureau-ameriques ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #34AB92;
    color:#34AB92;
    border-bottom:none;
    margin-bottom: -1px;
}

.bureau-ameriques .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #34AB92;
}

.bureau-ameriques .tab-content > .tab-pane.active:nth-child(1) .btn-info {
    background:#34AB92;
}

/*--------Bureau Afrique Centrale et des Grands Lacs (BACGL)---------*/

.afrique-centrale-et-des-grands-lacs ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #F7AB00;
    color:white;
    border:none;
}

.afrique-centrale-et-des-grands-lacs ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(247, 171, 0, 0.49);
}

.afrique-centrale-et-des-grands-lacs ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #F7AB00;
    color:#F7AB00;
    border-bottom:none;
    margin-bottom: -1px;
}

.afrique-centrale-et-des-grands-lacs .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #F7AB00;
}

.afrique-centrale-et-des-grands-lacs .tab-content > .tab-pane.active:nth-child(1) .btn-info {
    background:#F7AB00;
}

/*--------Bureau Afrique de l'Ouest (BAO)---------*/

.bureau-afrique-de-l-ouest ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #65B22E;
    color:white;
    border:none;
}

.bureau-afrique-de-l-ouest ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(101, 178, 46, 0.49);
}

.bureau-afrique-de-l-ouest ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #65B22E;
    color:#65B22E;
    border-bottom:none;
    margin-bottom: -1px;
}

.bureau-afrique-de-l-ouest .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #65B22E;
}

.bureau-afrique-de-l-ouest .tab-content > .tab-pane.active:nth-child(1) .btn-info {
    background:#65B22E;
}


/*--------Bureau Asie Pacifique (BAP)---------*/

.bureau-asie-pacifique ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #9F72AE;
    color:white;
    border:none;
}

.bureau-asie-pacifique ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(159, 114, 174, 0.49);
}

.bureau-asie-pacifique ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #9F72AE;
    color:#9F72AE;
    border-bottom:none;
    margin-bottom: -1px;
}

.bureau-asie-pacifique .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #9F72AE;
}

.bureau-asie-pacifique .tab-content > .tab-pane.active:nth-child(1) .btn-info {
    background:#9F72AE;
color:white;
}

/*--------Bureau Caraïbe (BC)---------*/

.bureau-caraibe ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #601D52;
    color:white;
    border:none;
}

.bureau-caraibe ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(96, 29, 82, 0.49);
}

.bureau-caraibe ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #601D52;
    color:#601D52;
    border-bottom:none;
    margin-bottom: -1px;
}

.bureau-caraibe .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #601D52;
}

.bureau-caraibe .tab-content > .tab-pane.active:nth-child(1) .btn-info {
    background:#601D52;
}

/*--------Bureau Europe Centrale et Orientale (BECO)---------*/

.bureau-europe-centrale-et-orientale ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #73D0F5;
    color:white;
    border:none;
}

.bureau-europe-centrale-et-orientale ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(115, 208, 245, 0.49);
}

.bureau-europe-centrale-et-orientale ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #73D0F5;
    color:#73D0F5;
    border-bottom:none;
    margin-bottom: -1px;
}

.bureau-europe-centrale-et-orientale .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #73D0F5;
}

.bureau-europe-centrale-et-orientale .tab-content > .tab-pane.active:nth-child(1) .btn-info {
    background:#73D0F5;
}

/*--------Bureau Europe de l'Ouest (BEO)---------*/

.bureau-europe-de-l-ouest ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #EA560D;
    color:white;
    border:none;
}

.bureau-europe-de-l-ouest ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(234, 86, 13, 0.49);
}

.bureau-europe-de-l-ouest ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #EA560D;
    color:#EA560D;
    border-bottom:none;
    margin-bottom: -1px;
}

.bureau-europe-de-l-ouest .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #EA560D;
}

.bureau-europe-de-l-ouest .tab-content > .tab-pane.active:nth-child(1) .btn-info {
    background:#EA560D;
}

/*--------Bureau Maghreb (BM)---------*/

.bureau-maghreb ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #B49B5A;
    color:white;
    border:none;
}

.bureau-maghreb ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(180, 155, 90, 0.49);
}

.bureau-maghreb ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #B49B5A;
    color:#B49B5A;
    border-bottom:none;
    margin-bottom: -1px;
}

.bureau-maghreb .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #B49B5A;
}

.bureau-maghreb .tab-content > .tab-pane.active:nth-child(1) .btn-info {
     background-color: #B49B5A; 
}

/*--------Bureau Moyen Orient (BMO)---------*/

.bureau-moyen-orient ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #387DC0;
    color:white;
    border:none;
}

.bureau-moyen-orient ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(56, 125, 192, 0.49);
}

.bureau-moyen-orient ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #387DC0;
    color:#387DC0;
    border-bottom:none;
    margin-bottom: -1px;
}

.bureau-moyen-orient .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #387DC0;
}

.bureau-moyen-orient .tab-content > .tab-pane.active:nth-child(1) .btn-info {
     background-color: #387DC0; 
}

/*--------Bureau Océan Indien (BOI)---------*/

.bureau-ocean-indien ul.nav.nav-tabs > li:nth-child(1) a {
    background-color: #EE79AD;
    color:white;
    border:none;
}

.bureau-ocean-indien ul.nav.nav-tabs > li:nth-child(1) > a:hover {
    background-color: rgba(238, 121, 173, 0.49);
}

.bureau-ocean-indien ul.nav.nav-tabs > li.active:nth-child(1) > a {
    background: white;
    border: 3px solid #EE79AD;
    color:#EE79AD;
    border-bottom:none;
    margin-bottom: -1px;
}

.bureau-ocean-indien .tab-content > .tab-pane.active:nth-child(1) {
    border:3px solid #EE79AD;
}

.bureau-ocean-indien .tab-content > .tab-pane.active:nth-child(1) .btn-info {
    background:#EE79AD;
}

/*--------Plan du site (site map)---------*/

.menu .Selection .Selection .menu a {
    background: white;
    padding: 6px 6px 6px 13px;
    margin-left: 5px;
    margin-bottom: -10px;
    border: 2px solid #1D9DD9;
}

ul#sitemap * {
    border:none;
    background:none;

}

ul#sitemap .Selection a  {
    color:#1D9DD9;
}

ul#sitemap .Selection a::before  {
    content:'\f111';
    font-family:fontAwesome;
    margin-right:5px;
    font-size:12px;
}


ul#sitemap ul .menu  {
    padding: 7px 0px 3px 8px;
    color:#1D9DD9;
    margin-left:20px;
}

ul#sitemap ul .menu a {
    border-bottom:1px dotted grey;
}

ul#sitemap ul .menu a::before {
    content:'\f142';
    color:#AA0A2F;
}

ul#sitemap li {
    margin-left:10px;
    margin-top:1px;
}


/*-------------Page Offres d'emploi--------------*/

.BlocEmploi {
    border: 1px solid #D7D7D7;
    padding: 0px 7px 10px 7px;
    background: url('/static/img/Bg_Enc.png?79652420884f') bottom repeat-x;
    color: #616161;
    margin-bottom: 13px;
}

.postuler {
    margin: 22px 0px 9px 0px;
    border: 1px solid #DEDEDE;
    background: url('/static/img/Bg_Enc.png?79652420884f') bottom repeat-x;
    color: #616161;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.tabpostuler {
    border-spacing: 15pt;
}

.tabtr {
    padding: 10px 5px 10px 5px;
}

.tabtd {
    width: 130px;
    font-weight: bold;
    display: inline-block;
}

.tabtd2 {
    display: inline-block;
    width: 423px;
}


/* -------------Pied de page-------------
----------------------------------------- */

#PiedPage {
    background: #707070;
    color: white;
    margin-bottom: -16px;
}
#PiedPage img {
    position: relative;
    float: right;
    top: -33px;
    margin-right: 52px;
}
#PiedPage p {

    padding-top: 2em;
  padding-left: 1em;
    font-size: 0.9em;
}
#PiedPage a {
    color: #FFFFFF;
    text-decoration: none;
}
#PiedPage a:hover {
    color: #0098E9;
}

/*--------------Django Social Share----------------*/


.django_social_share {
    padding:4px;
    border: 1px dashed rgb(238, 238, 238);
    text-align:center;
    margin:15px auto ;
}

.facebook-this, .gplus-this, .tweet-this {
    display:inline;
    margin-left: 09px;
    font-size:1rem;
}

.facebook-this .fa-facebook-official, .gplus-this .fa-google-plus, .tweet-this .fa-twitter {
    border-radius: 29px;
    background: rgb(233, 233, 233);
    padding: 7px;
    color: rgb(110, 110, 110);
}

.facebook-this .fa-facebook-official:hover {
    color:#3b5998;
    background:whitesmoke;
}

.gplus-this .fa-google-plus:hover {
    color: #dd4b39;
    background:whitesmoke;
}

.tweet-this .fa-twitter:hover {
    color: #00acee;
    background:whitesmoke;
}

.img-thumbnail {
    display:block;
    margin:0 auto;
}

/*----------------Icônes de type de fichier-------------------*/

a[href $='.pdf']::after {
    content: "\f1c1";
    font-family:Fontawesome;
    font-size:1em;
    margin-left:4px;
}

a[href $='.doc']::after {
    content: "\f1c2";
    font-family:Fontawesome;
    font-size:1em;
    margin-left:4px;
}

a[href $='.zip']::after {
    content: "\f1c6";
    font-family:Fontawesome;
    font-size:1em;
    margin-left:4px;
}

a[href $='.png']::after {
    content: "\f03e";
    font-family:Fontawesome;
    font-size:1em;
    margin-left:4px;
}

a[href $='.jpg']::after {
    content: "\f03e";
    font-family:Fontawesome;
    font-size:1em;
    margin-left:4px;
}

a[href $='.svg']::after {
    content: "\f03e";
    font-family:Fontawesome;
    font-size:1em;
    margin-left:4px;
}

a[href ^='mailto:']::after {
    content: "\f003";
    font-family:Fontawesome;
    font-size:1em;
    margin-left:4px;
}


/*-----------Fenetres modales (membres)------------*/

#box_membre {
    padding-left: 29px;
    padding-right: 29px;
}

.box_membre {
    display: inline-block;
}

.box_membre h3 {
    margin-bottom: 2px;
}

/*---------Page Implantations---------*/

.col-md-12 #accordion .panel-title {
text-align:center;}



/*------------------------------------*/

/* parent selection in css is not ready...
a:not( [href*='auf.org'] ):not( [href^='#'] ):not( [href^='/'] ):not( .carousel-caption ):after{
    font-family: 'FontAwesome';
    content: " \f08e";
}

a:after >  img{
  content: "";
}
*/

/*---------Classe pour enlèver l'icône sur liens type fichier----------*/
a.noExternalStyle:after {
    display:none
}


/*----------Cache les boîtes vides--------------*/

.cache-boite {
    background-color:white;
    height:40px;
    margin:-18px -18px -20px -18px;
}

/*----------Cache le checkbox des sous-pages (mobile)--------------*/

input#sous-pages, .sous-pages label {
display: none;
}

/*----------Correcteur Menu pour Safari--------------*/

_::-webkit-full-page-media, _:future, :root #MenuPrincipal 
{ font-size:1.25rem; }


/*--------------------------------------*/
/*---------------MOBILE-----------------*/
/*--------------------------------------*/
 
/*-------------------Téléphones---------------------*/
 
@media screen and (max-width:767px) and (min-width:240px) {
 
body {
margin-top: 0px;
}
  


.img-responsive, .thumbnail a > img, .thumbnail > img,.navbar-brand > img {
display:none;

}

 .thumbnail a > img, .thumbnail > img {

display:block;max-width:100%; margin-left :5%;
}


.img-responsive-tel{

    float:left;width:30%;display:block;max-width:100%; margin-left :5%;
}


/*.container {
padding-right: 30px;
padding-left: 30px;
}*/

/*---Tableaux---*/
table {
font-size: 1rem;
}

div#tabemploye {
overflow-x: auto;
margin-top: 22px;
}

div#tabemploye::before {
content: "\f07e";
margin: 0 auto;
font-family: fontawesome;
font-size: 3rem;
margin-left: 41%;
position: absolute;
margin-top: -33px;
color: silver;
}
   
/*-Engin de recherche-*/
 
.navbar-form .form-group {
    margin-right:-55px;
  }
    
.navbar-brand {
margin: 0px;
padding: 3px;
margin-top: 1px;
margin-bottom:-13px;
height: 0px;
max-width: 25%;
display:inline-table;
}
   
  .navbar-brand img {
    zoom:36%;
       
  }
 
   
/*-----Bande de couleurs----*/
 
  #NavFixe {
    padding:0px;
    width:100%;
max-width:100%;
    float:none;
    padding-right:0px;
    padding-bottom:7px;
    margin-top:5px;
 background:none; 


  }

  #NavFixe li p {
margin:0;
  }

  #NavFixe li ,  #NavFixe li a {
font-size:14px;
  }


   
.barre-mobile {
 	background: url(/static/img/barre-couleur.png) no-repeat;
width:100%;height:10px;; float:left;  background-size: contain;margin-bottom:8px;
}

#NavFixe > li.MenuBureaux {
float:left;
}
#NavFixe > li.MenuEmploi {
display:none;
}

#NavFixe > li.MenuLangue {
display:none;
}

#NavFixe > li.MenuAppel {
display:none;
}

   
  /*-----Réseaux sociaux------*/
   
  li.MenuRSS .ReseauxSociaux {
    top:19px;
    right:14px;
    position:absolute;
    font-size:1.3rem;
    border-bottom:1px dashed whitesmoke;
    border-top:1px dashed whitesmoke;
    max-height:2.8rem;
       
  }
   
  li.MenuRSS .ReseauxSociaux svg {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
  } 
   
  li.MenuRSS .ReseauxSociaux i {
    margin-left:2px;
  }
   
  /*-----Menu Langue------*/
   
   .MenuLangue .dropdown-menu {
    margin-left:-107px;
    margin-bottom:-40px;
    font-size:1.4rem;
    border:2px solid grey;
    margin-top:0px;
    background:whitesmoke;
  }
  
  /*-----Menu Régions (ignorer le nom de la classe)------*/
   
    .MenuContact .dropdown.open {
        border-left:1px solid #702283;
        border-right:1px solid #702283;
  }
 
   
  .MenuContact .dropdown-menu {
   margin-left:-13.2em;
    margin-bottom:-40px;
    font-size:1.3rem;
    border:2px solid grey;
    margin-top:1px;
    background:whitesmoke;
       font-weight:900;
   
  }
   
  .MenuContact .dropdown-menu > li {
    margin-bottom:11px;
   border-bottom:1px solid rgb(229, 229, 229);
      text-align:center;
  }
  



   /*-----Taille de police des menus sous la barre couleur------*/
  
    .MenuPresse a, .MenuContact a, .MenuLangue a, .MenuEmploi a {
        font-size:0.8em;
    }
   
   
  /*-----Menu de droite----*/
 #myNavmenu .region ul li a{
    font-size:0.8em;
  }
   
 #myNavmenu .navmenu-brand  {
width:40%;
 
  }
   

.pull-left {
    float: right !important;
}

/*-Bannnière pages de CMS-*/
 
  .banniere {
    top: -10px;
      padding-bottom:31px;
  }
 
/*-Onglets-*/
 


.nav > li > a {
position: relative;
display: block;
padding: 10px 5px;
}


.nav-tabs li {
float:left;width:100%;
}
 

.nav-tabs li.active {
float:left;width:100%;display:inline;
}




ul.nav.nav-tabs > li:nth-last-child(1) a {
    background-color: #E52727;
    color: white;
    margin-right: 0px;
    border: none;
}
 
  .tab-content {
    margin-top: -3px;
  }

.tab-content > .tab-pane.active:nth-last-child(1) .btn-info {
    font-size: 1.1rem;
  }

.tab-content > .tab-pane.active:nth-last-child(4) .btn-info {
font-size: 0.82em;
padding: 7px;
} 

.tab-content .media-body p {
display:none;
} 

.tab-content .media-body p.text-muted {
display:block;
} 
/*-Contenu-*/
   
   
#content .tab-content .media a.pull-left {
float:none !important;
margin:0 auto;
}
   
#content .tab-content .media a img.img-thumbnail {
float:none !important;
margin:0 auto;
} 

#content > div > div.tab-content{
position:relative;
}
   
  #content {
    padding-bottom:20px; 
}
  
  .mobile {
    padding-top:50px;
  }

  .paraintro {
      text-align: justify;
      font-weight: bold;
  }
 
 .texte h2 {
padding-top:15px;
margin-top:-2px;
font-size:2rem;
  }
 
 .texte h3 {
font-size:1.8rem;
  }
 
.django_social_share b { 
font-size: 0.8em;
}
 
/*-Pied de page-*/
   
  #PiedPage {
background: #707070;
color: white;
margin-bottom: 0px;
 overflow: auto;
}
 
#PiedPage p {
font-size: 0.9rem;
top:10px;
margin-left:0px;
text-align:center;
background:#707070;
padding:5px;
}
   
  #PiedPage img {
    display:none;
  }
 
 
/*---Style commun aux bureaux---*/
 
/*-Titre du bureau et estampilles-*/
 
 .nav > div.col-md-8 {
   width:70%;
   margin-top:5rem;
   margin-bottom:-60px;
   left:-1px;
  }

   
 h2.titre-bureau {
  font-size:1.5rem;
  top:-75px;
  left:34px;
  position:relative;
  text-align:center;
     
}
 
svg.estampille {
  -ms-transform:scale(0.5); /* IE 9 */
  -webkit-transform:scale(0.5); /* SAFARI */
  -moz-transform:scale(0.5); /* FIREFOX */
  transform:scale(0.5);
    left: 3px;
    top: -48px;
  display:none;
}
 



h2.titre-bureau {
    font-size: 1.5rem;
    top: -30px;
    left:20px;
    position: relative;
    text-align: left;
}
/*-Menu principal-*/
 
 #MenuPrincipal {
   margin-left:0px;
 }
 
.navbar-toggle {
    margin-top:37px;
    margin-left: 10px;
  }

 
/*-Onglets défilants mobile-*/
 
nav.mobile-tabs {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
 




/*-Menu des sous pages-*/
 
.menu-mobile {
  position:absolute;
  top:4px;
  margin:0 auto;
  width:93%;
}
   
#myAffix.affix {
width: 100%;
position: initial;
    background:whitesmoke;
}
  
  #ColonneMenuSecondaire {
    text-align:left;
    border-left:0px;
    margin-left:10px;
  }
  
  div.sous-pages { 
  color: white;
  width: 100%;
  padding: 0rem;
  border-radius: 5px;
  background: whitesmoke;
 box-shadow:0px 1px 5px 2px silver;
  text-align: center;
}
  
div.sous-pages label { 
  display: block;
  background: #AA0A2F;
  font-size: small;
  border-radius: 5px;
  padding: .6rem;
  transition: .4s all linear; 
  margin:0 auto;
}
div.sous-pages label:hover { 
  cursor: pointer; background: rgba(170, 10, 47, 0.72); 
}

div.sous-pages label:after { 
content:"\f13a";
  font-family:fontawesome;
  margin-left:6px;
}  


input.toggle ~ div { 
  height: 0px; margin: .2rem;
  overflow: hidden;
  transition: .6s all cubic-bezier(0.730, -0.485, 0.145, 1.620)
}
input.toggle:checked ~ div { height:auto; }
input.toggle:checked + label { background: #1D9DD9; }
 input.toggle:checked + label:after { content:"\f057"; font-family:fontawesome; }
input.toggle { display: none; }
   
/*---Carte implantations---*/
  .col-md-12 > .filters {
    padding-top:10px;
    font-size:1.2rem;
  }
   
 #filter-bureau {
   display:block;
     margin:0 auto;
   width:80%;
  height:25px;
 }
 
 
#carte {
    margin-left:0px;
  }

 
#content .hidden-xs {
    display: inline! important;
}

}
 
/*------------------------Tablettes-----------------------*/
@media screen and (max-width:992px) and (min-width:768px) { 
  
     
     
/*-Réseaux sociaux (bande de couleurs)-*/
  .ReseauxSociaux {
font-size:1.2rem;
 
} 
  .ReseauxSociaux svg {
    zoom:93%;
    margin-right:-20px;
  }
     
    .MenuContact .dropdown-menu {
    margin-left:-201px;
    margin-bottom:-40px;
    font-size:1.3rem;
    border:2px solid grey;
    margin-top:1px;
    background:whitesmoke;
       font-weight:900;
  }
  
/*-Estampille et titres des bureaux-*/
 
h2.titre-bureau {
  font-size:2.4rem;
    margin-left:-40px;
     
}
 
svg.estampille {
  -ms-transform:scale(0.8); /* IE 9 */
  -webkit-transform:scale(0.8); /* SAFARI */
  -moz-transform:scale(0.8); /* FIREFOX */
  transform:scale(0.8);
  right:5px;
    top:6px;
}
 
/*-Menu principal-*/
 
  #MenuPrincipal {
    font-size:0.94rem}
   
 
/*-Carousel-*/
 
  .carrousel {
    margin-left:180px;
  }
 
 
/*-Bannière des pages CMS-*/
  .banniere {
    top: -29px;
  }
   
/*-Textes des articles-*/
 
.mobile {padding-top:40px;
}
 
.right-menu::before {
  content:"\f0d9";
  font-family:Fontawesome;
  margin-top:-3px;
 margin-left:-18px;
  position:absolute;
 color:grey;
}
 
/*-Menu des sous pages-*/
   .menu-mobile {
  position:absolute;
  top:4px;
  margin-left:-14px;
  margin:0 auto;
  width:93%;
}
 
#myAffix.affix {
width: 100%;
position: initial;
}
   
#ColonneMenuSecondaire {
border:none;
text-align:left;
  margin-left:10px;
  margin-bottom:10px;
}
   
#ColonneMenuSecondaire li a {
margin-bottom:-6px;
}

div.sous-pages { 
  color: white;
  width: 100%;
  padding: 0rem;
  border-radius: 5px;
  background: whitesmoke;
  margin: 1rem;
 box-shadow:0px 1px 5px 2px silver;
  text-align: center;
}
  
div.sous-pages label { 
  display: block;
  background: #AA0A2F;
  font-size: small;
  border-radius: 5px;
  padding: .6rem;
  transition: .4s all linear; 
  margin:0 auto;
}
div.sous-pages label:hover { 
  cursor: pointer; background: rgba(170, 10, 47, 0.72); 
}

  
div.sous-pages label:after { 
content:"\f13a";
  font-family:fontawesome;
  margin-left:6px;
}  

input.toggle ~ div { 
  height: 0px; margin: .2rem;
  overflow: hidden;
  transition: .6s all cubic-bezier(0.730, -0.485, 0.145, 1.620)
}
input.toggle:checked ~ div { height:auto; }
input.toggle:checked + label { background: #1D9DD9; }
 input.toggle:checked + label:after { content:"\f057"; font-family:fontawesome; }
input.toggle { display: none; }
   
   
/*-Pied de page-*/
   
  #PiedPage {
background: #707070;
color: white;
margin-bottom: 0px;
    height: 50px;
}
 
#PiedPage p {
font-size: 0.9rem;
top:10px;
margin-left:0px;
text-align:center;
background:#707070;
padding:5px;
}
   
  #PiedPage img {
    display:none;
  }
 
}

/*------------------------Notebooks-----------------------*/

@media screen and (max-width:1200px) and (min-width:992px) { 
  /*-Réseaux sociaux (bande de couleurs)-*/
  .ReseauxSociaux {
font-size:1.2rem;
 
} 
  .ReseauxSociaux svg {
    zoom:93%;
    margin-right:-20px;
  }
     
    .MenuContact .dropdown-menu {
    margin-left:-60px;
  }
  
/*-Estampille et titres des bureaux-*/
 
h2.titre-bureau {
  font-size:2.4rem;
    margin-left:-40px;
     
}
 
svg.estampille {
  -ms-transform:scale(0.8); /* IE 9 */
  -webkit-transform:scale(0.8); /* SAFARI */
  -moz-transform:scale(0.8); /* FIREFOX */
  transform:scale(0.8);
  right:5px;
    top:6px;
}
 
/*-Menu principal-*/
 
  #MenuPrincipal {
    font-size:1.1rem}
   
 
/*-Carousel-*/
 
  .carrousel {
    margin-left:180px;
  }
 
 
/*-Bannière des pages CMS-*/
  .banniere {
    top: -29px;
  }
   
/*-Textes des articles-*/
 
.right-menu::before {
  content:"\f0d9";
  font-family:Fontawesome;
  margin-top:-3px;
 margin-left:-18px;
  position:absolute;
 color:grey;
}
 
/*-Menu des sous pages-*/
 
#myAffix.affix {
width: 25%;
}
   
/*-Pied de page-*/
   
  #PiedPage {
background: #707070;
color: white;
margin-bottom: 0px;
 overflow: auto;
}
 
#PiedPage p {
font-size: 0.9rem;
top:10px;
margin-left:0px;
text-align:center;
background:#707070;
padding:5px;
}
   
  #PiedPage img {
    display:none;
  }

}


