{% load cms_tags sekizai_tags staticfiles %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/mailman.js"></script>{% endaddtoblock %}

<div class="cmsplugin_mailman">
  <a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal" style="width:180px;height:75px">
    <h2>S'abonner</h2>
  </a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">{{ instance.titre }}</h4>
      </div>
        <div class="modal-body">
          <div id="submit_container">
            <div class="row-fluid">
              <div id="noneSelectedError"></div>
              <div id="badEmailError"></div>
              <div class="form-group">
                <label for="fullname">Nom : </label>
                <input class="form-control" name="fullname" type="text" id="fullname" placeholder="Votre nom"/>
              </div>
              <div class="form-group">
                <label for="email">Adresse courriel : </label>
                <input class="form-control" name="email" type="email" id="email" placeholder="nom.prenom@site.org" />
              </div>
            </div>
            <label for="unsubscribe"></label>
            <input "name="unsubscribe" type="checkbox" id="unsubscribe" /> Me désabonner
            <input name="list" type="hidden" id="list" value="{{ instance.liste }}" />
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true" id="close">Annuler</button>
              <button class="btn btn-primary" id="submit">Envoyer</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="succesModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="succesLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Votre demande a bien été prise en compte. Vous recevrez prochainement une confirmation par courriel.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
