{% extends "base.html" %}
{% load i18n cms_tags pagination_tags bootstrap3 %}

{% block Contenu %}
<div class="banniere">
    <p><img class="img-responsive" src="/media/adminfiles/quefaisonsnous2.png"></p>
</div>

<div class="col-md-12" id="content" style="background-color: white;">
<h1>Les &eacute;tablissements membres de l'AUF</h1>
<p>L’Agence universitaire de la Francophonie compte <strong>786 institutions membres</strong> réparties dans <strong>98 pays</strong>, dont <strong>55</strong> sont membres de l’Organisation internationale de la Francophonie. Ce moteur de recherche vous permet de faire une recherche en croisant plusieurs champs de recherche. Vous recherchez, par exemple, une université membre de l’AUF, qui porte un nom X ou Y et qui est située dans le pays Z. Croiser plusieurs champs de recherche n’est pas obligatoire.</p>

<h2>Critères de recherche</h2>
<div class="fondform col-md-5">
<form method="get" action="" class="">
    <div class="form-group">
    {% bootstrap_form form %}
    </div>
    <input type="submit" value="Rechercher"/>
</form>

</div>
{% if membre_list %}
    {% with membre_list as item_list %}

    {% autopaginate item_list.qs 15 as filter_list %}
    {% paginate %}

    	<div id="tabemploye">
            <table>
                <tr style="background:#E6B804 !important; font-weight: bold;">
                    <td width="24%" style="color: #fff !important;">Nom</td>
                    <td width="4%" style="color: #fff !important;"></td>
                    <!--<td width="10%" style="color: #fff !important;">Status</td>-->
                    <td width="18%" style="color: #fff !important;">Ville</td>
                    <td width="24%" style="color: #fff !important;">Pays</td>
                    <td width="20%" style="color: #fff !important;">Région</td>
                    <td width="8%" style="color: #fff !important; text-align: center">Site Web</td>
                </tr>
            {% for item in filter_list  %}
                <tr>
                    <td>{{ item.nom }}</td>
                    <td><a href="/membres/{{item.id}}/?height=602&width=604" data-toggle="modal" data-target="#myModal"><img src="{{ STATIC_URL }}img/fichepico.gif" title="Fiche déscriptive"/></a></td>
                    <!--<td>{{ item.membre }}</td>-->
                    <td>{{ item.ville }}</td>
                    <td>{{ item.pays }}</td>
                    <td>{{ item.region }}</td>
                    <td align="center" valign="middle"><a href="{{ item.url }}" target="_blank"><img src="{{ STATIC_URL }}img/contact_letttre.gif" /></a></td>
                </tr>
            {% endfor %}
            </table>
        </div>

    {% paginate %}  
    {% endwith %}
{% else %}
    <p>{{ _('Aucune membre pour le moment') }}</p>
{% endif %}
</div>

<script>
$("#myModal").on("show.bs.modal", function(e) {
    var link = $(e.relatedTarget);
    $(this).find(".modal-body").load(link.attr("href"));
});
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

{% endblock %}
