{% extends "admin/change_form.html" %}
{% load espace_membre_extra %}

{% block field_sets %}
  {% for fieldset in adminform %}
    {% ifequal fieldset.name "Validation" %}
      {% for inline_admin_formset in inline_admin_formsets %}
        {% include inline_admin_formset.opts.template %}
      {% endfor %}
      {% block after_related_objects %}{% endblock %}
    {% endifequal %}
    {% include "admin/espace_membre/includes/fieldset.html" %}
  {% endfor %}
{% endblock %}

{% block inline_field_sets %}
{% endblock %}

{% block submit_buttons_bottom %}{% submit_row_espace_membre %}{% endblock %}
