{% load static i18n cms_tags menu_tags sekizai_tags auf %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AUF - {% block title %}{% page_attribute "title" %}{% endblock title %}</title>
</head>

<style>
html{
font-family: Arial, Helvetica, sans-serif;
}
a:link {
color:#666666;
text-decoration: none;
}
a:visited {
color:#666666;
text-decoration:none;
}
a:hover {
color:#ab0132;
text-decoration: none;
}
a:active {
color:#666666;
text-decoration:none;
}
</style>
</head>
<body>

<!-- PARTIE HAUTE-->
<table align="center" width="600" cellpadding="2" cellspacing="2">
  <tr>
    <td bgcolor="#FFFFFF" align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#999999"><a href="http://www.auf.org/fil-actualites/{{ request.current_page.get_title.split|last }}/">Voir la version en ligne</a></font></td>
  </tr>
</table>

<!-- PARTIE HEADER-->
<table align="center" width="600" style="border: #666666 1px solid; border-bottom: none;" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" >
  <tr>
    <td bgcolor="#FFFFFF"  style="border-bottom: #ab0132 9px solid;" >
      <img src="http://www.auf.org/static/img/Logo_Auf_FR.png" alt="" border="0">
    </td>
    <td bgcolor="#FFFFFF"  style="border-bottom: #ab0132 9px solid;" >
      <h1 style="margin: 0px; color: #ab0132">Fil d'actualité interne</h1>Agence universitaire de la Francophonie
    </td>
  </tr>
</table>
  
 <!-- PARTIE PRINCIPALE -->
<table align="center" width="600" style="border: #666666 1px solid; border-top: none; border-bottom:none; padding-bottom: 26px" cellpadding="0" cellspacing="0">
  <tr>
    <td><TABLE width="540" border="0" cellpadding="0" cellspacing="0" align="center">
        <TR>
          <TD>
            {% placeholder texte %}
           </TD>
        </TR>
      </TABLE>
     </td>
   </tr>
</table>

<!-- PARTIE PIED-->
<table align="center" width="600" style="border: #666666 1px solid; border-top: none" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#ab0132" height="30" align="center" >
      <p style="font-family: arial,  helvetica, sans-serif;font-size: 11px;color: #fff;">
      {% placeholder texte %}
      <br />Contact: <a href="mailto:communication@auf.org" style="color:#FFFFFF">communication@auf.org</a></p>
    </td>
  </tr>
</table>

</body>
</html>
