{% load menu_tags cms_tags sekizai_tags %}
{% load thumbnail %}


{% addtoblock "js" %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endaddtoblock %}


<div id="cms-menu-{{ plugin.id }}"
     class="cms-plugin cms-{{ plugin.plugin_type|slugify }}"
     data-plugin-position="{{ plugin.position }}">

{% for p in object_list %}
<div class="thumbnail thumbnail-appels">
  <a class="" href="{{p.get_absolute_url}}">
    {% if p.image %}
    <img class="img-thumbnail pull-left" src="{% thumbnail p.image 220x180 upscale %}"/>
    {% else %}
    <img class="img-thumbnail pull-left" src="http://www.auf.org/static/logodefaut.jpg" width="180px" height="180px">
    {% endif %}
    <div class="title-date">
      <h4>{{ p.titre }}</h4>
      {% if p.date_pub %}
      <p class="text-muted">Date de publication: <strong>{{p.date_pub|date:"j F Y"}}</strong></p>
      {% endif %}
      {% if p.date_debut %}
      <p class="text-muted">Date de début: <strong>{{p.date_debut|date:"j F Y"}}</strong></p>
      {% endif %}
      {% if p.date_fin %}
      <p class="text-muted">Date limite: <strong>{{p.date_fin|date:"j F Y"}}</strong></p>
      {% endif %}
    </div>
  <div class="caption">
      <p>{{ p.resume }}</p>
  </div>
  </a>
  <hr>
    {% if p.bureau.all %}
      <div class="mini-estampilles">
      {% for b in p.bureau.all %}
          {% if b.nom == "International" %}
            <i class="fa fa-globe">-International</i>
          {% else %}
          <i class="fa fa-circle B{{b.code}}" data-toggle="popover" data-content="{{ b.nom }}" data-placement="top" data-trigger="focus" tabindex="0">-B{{b.code}}</i>
          {% endif %}
      {% endfor %}
      </div>

    {% endif %}
</div>
{% endfor %}
</div>
