{% load menu_tags cms_tags sekizai_tags %}
{% load thumbnail %}


{% addtoblock "js" %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endaddtoblock %}


<div id="cms-menu-{{ plugin.id }}"
     class="cms-plugin cms-{{ plugin.plugin_type|slugify }}"
     data-plugin-position="{{ plugin.position }}">

{% for p in object_list %}
<div class="thumbnail thumbnail-appels">
  <div class="media">
    <a class="pull-left" href="{{p.get_absolute_url}}">
        {% if p.image %}
        <img class="img-thumbnail" src="{% thumbnail p.image 130x90 upscale %}"/>
        {% endif %}
    </a>
    <div class="media-body">
        <h4 class="title-date">
        <a href="{{p.get_absolute_url}}">
        {{ p.titre }}
        </a>
        </h4>
        {% if p.date_pub %}
        <p class="text-muted">Date de publication: <strong>{{p.date_pub|date:"j F Y"}}</strong></p>
        {% endif %}
        {% if p.date_debut %}
        <p class="text-muted">Date de début: <strong>{{p.date_debut|date:"j F Y"}}</strong></p>
        {% endif %}
        {% if p.date_fin %}
        <p class="text-muted">Date limite: <strong>{{p.date_fin|date:"j F Y"}}</strong></p>
        {% endif %}
        <p>{{ p.resume }}</p>
    </div>
  </div>
  <hr>
    {% if p.bureau.all %}
      <div class="mini-estampilles">
      {% for b in p.bureau.all %}
          {% if b.nom == "International" %}
            <i class="fa fa-globe">-International</i>
          {% else %}
          <i class="fa fa-circle B{{b.code}}" data-toggle="popover" data-content="{{ b.nom }}" data-placement="top" data-trigger="focus" tabindex="0">-B{{b.code}}</i>
          {% endif %}
      {% endfor %}
      </div>

    {% endif %}
</div>
{% endfor %}

<a class="btn btn-info pull-right" href="{{ voir_plus }}">Voir plus</a>
<a href="{{ lien_rss }}"><i class="fa fa-rss fa-2x "></i></a>
</div>
