{% load menu_tags cms_tags sekizai_tags auf %}
{% load thumbnail %}


{% addtoblock "js" %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endaddtoblock %}

<div class="titre">
<h4 class="page_title">{{ title }}</h4>
</div>

<div id="cms-menu-{{ plugin.id }}"
     class="cms-plugin cms-{{ plugin.plugin_type|slugify }}"
     data-plugin-position="{{ plugin.position }}">


{% for p in object_list %}
<div class="thumbnail thumbnail-bureau">

{% get_bureau as bureau %}
{% if bureau.0 %}
  <a class="" href="/{{ bureau.0 }}{{p.get_absolute_url_region }}">
{% else %}
  <a class="" href="{{p.get_absolute_url}}">
{% endif %}

    {% if p.image %}
    <img class="img-thumbnail pull-right" src="{% thumbnail p.image 80x80 upscale %}"/>
    {% else %}
    <img class="img-thumbnail pull-right" src="http://www.auf.org/static/logodefaut.jpg" width="80px" height="80px">
    {% endif %}
  </a>
    <div class="title-date">

{% if bureau.0 %}
    <a class="" href="/{{ bureau.0 }}{{p.get_absolute_url_region }}">
{% else %}
    <a class="" href="{{p.get_absolute_url}}">
{% endif %}

    <span>{{ p.titre }}</span>
    </a>
  </div>
  <hr>
  <p class="text-muted"><strong>{{p.date_pub|date:"j F Y"}}</strong></p>
</div>
{% endfor %}

<a class="btn btn-info" href="{{ voir_plus }}">Voir plus</a>
</div>
